* {
  font-family: 'Comic Neue', cursive;
}
h2 {
  font-size: 3rem;
}

.navbar ul {
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar {
  background-color: rgba(255,255,255,0.5);
}

.navbar a {
  display: inline;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
} 

body { 
  background: url(https://images.pexels.com/photos/129105/pexels-photo-129105.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover; 
}

/* format buttons */
.submit-button {
  background-color: lightgrey; 
  color: black; 
  border: #4CAF50;
  margin-top: 10px;
  border-radius: 7px;
  width: 80px;
  height: 30px;
}

.submit-button:hover {
  background-color: #4CAF50;
  color: white;
}

.delete-button, .edit-button {
  background-color: lightgoldenrodyellow; 
  color: black; 
  border: #4CAF50;
  margin: 0px 5px;
  border-radius: 7px;
  width: 60px;
  height: 30px;
}

.delete-button:hover {
  background-color: red;
  color: white;
}

.edit-button:hover {
  background-color: green;
  color: white;
}

.card {
  margin: 10px;
  border-radius: 20px;
  background: rgba(255,255,255,0.6);
}

.card-img-top {
  margin: 20px auto;
  display: block;
  width: 500px;
  border-radius: 10px;
}