* {
  font-family: 'Comic Neue', cursive;
}
h2 {
  font-size: 3rem;
}

.nav ul {
  font-size: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.nav li a {
  float: left;
  display: block;
  color: purple;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* body { 
  background: url(img1.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover; 
} */
